@import url(https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

:root {
	--Red: #F92672;
	--Blue: #66D9EF;
	--Grey: #75715E;
	--Black: #272822;
	--White: #F8F8F2;
	--Green: #A6E22E;
	--Purple: #AE81FF;
	--Orange: #FD971F;
	--Yellow: #E6DB74;
	--LightOrange: #E69F66;

	--DarkBlue: #4a9dad;
	--DarkPurple: #7f5ebd;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
	background: #888; 
}

::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

*:focus {
    outline: none;
}

body {
	font-family: Exo;
	padding: 0px;
	user-select: none;
}

.config-bg,
.app-bg {
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	border-radius: 10px;
	overflow: hidden;
	background: var(--Black);
	color: var(--White);
}

.config-bg {
	background: var(--White);
	color: var(--Black);
}

.titlebar {
	height: 33px; width: 100%;
}
.titlebar td:last-of-type {
	padding-right: 10px;
}
.config-bg .titlebar {
	background: var(--Black);
}

.titlebar-drag {
	width: 100%;
	-webkit-app-region: drag;
}

.title-btn {
	font-size: 14px;
	background: none;
	border: none;
	color: var(--White);
	cursor: pointer;
}

.discord-btn { fill: var(--White); }
.title-btn.mini { padding-top: 3px;}
.title-btn.close { padding-top: 3px;}
.title-btn.discord { padding-top: 5px;}


.title-btn.mini:hover { color: var(--LightOrange); }
.title-btn.close:hover { color: var(--Red); }
.title-btn.discord:hover .discord-btn { fill: var(--Purple); }

.app-title img {
	position: absolute;
	top: 8px; left: 10px;
	width: 18px;
}

.app-title span {
	position: absolute;
	top: 7px; left: 35px;
	color: var(--White);
	font-weight: 700;
	font-size: 13pt;
}

.tab {
	background: #AAA;
	padding: 5px 15px;
	transform: translate(0, 2px);
	border-radius: 10px 10px 0px 0px;
	font-weight: 700;
	cursor: pointer;
}
.tab.active { background: var(--White); }

.app-container {
	position: absolute;
	top: 33px; left: 0px;
	width: 100%; height: calc(100% - 20px);
	overflow: hidden;
}
.app-container.config { overflow-y: scroll; }

.info-section { padding: 20px 60px 0px; }
.app-container.config .info-section { padding: 20px 60px 40px; }

#current-version {
	position: absolute;
	bottom: 3px; right: 10px;
	color: var(--Grey);
}

.client-status {
	position: absolute;
	bottom: 3px; left: 8px;
	font-weight: 700;
	color: var(--White);
}

.client-status.waiting .status-icon { color: var(--Yellow) !important; }
.client-status.active .status-icon { color: var(--Green) !important; }
.client-status.not .status-icon { color: var(--Red) !important; }

.input-group {
	display: flex;
	border-radius: 10px;
	overflow: hidden;
	margin-top: 10px;
}

.input-group input {
	width: 100%;
	padding: 10px;
}

.input-group button {
	margin: 0px;
	width: 60px;
	border-radius: 0px;
}
.input-group button:hover { background: var(--DarkPurple); }
.input-group input, .input-group button { border: none; }

.btn {
	color: var(--White);
	background: var(--Purple);
	border: none;
	padding: 10px;
	cursor: pointer;
	margin: 20px 0px;
	border-radius: 10px;
	width: 232px;
	font-weight: 700;
}
.btn:hover { background: var(--DarkPurple); }
.btn:disabled {
	cursor: not-allowed;
	background: var(--DarkPurple);
}

.config-input-group {
	display: flex;
	border-radius: 10px;
	overflow: hidden;
	margin: 10px 0px 20px;
}

.config-input-group input {
	width: 100%;
	padding: 10px;
	box-shadow: inset 0 0 4px var(--Grey);
}

.config-input-group input[type="color"] {
	width: 60px; height: 35px;
	padding: 5px 10px;
}
.config-input-group input.cf { border-radius: 10px; }
.config-input-group input.cl { border-radius: 10px 0px 0px 10px; }
.config-input-group input.cr { border-radius: 0px 10px 10px 0px; }

.config-input-group button:not(.save-btn) {
	margin: 0px;
	width: 80px;
	border-radius: 0px;
}
.config-input-group button:hover { background: var(--DarkPurple); }
.config-input-group input, .input-group button { border: none; }

.save-btn {
	width: 100%;
	height: 35px;
	color: var(--White);
	background: var(--Purple);
	border: none;
	padding: 10px;
	cursor: pointer;
	margin: 20px 0px;
	border-radius: 10px;
	font-weight: 700;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    color: var(--White);
	background: var(--Purple);
	border: none;
	padding: 10px;
	cursor: pointer;
	font-weight: 700;
	width: 60px;
	text-align: center;
}
.inputfile + label:hover { background: var(--DarkPurple); }

fieldset {
	border-radius: 10px;
	width: calc(87% + 2px);
	padding: 10px 20px;
	margin-top: 20px;
}

legend { padding: 0px 10px; }

.app-container.config .btn {
	width: calc(100% - 4px);
	margin: 10px 0px;
}